.flags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flags__container {
  margin: 10px 5px;
}

label {
  font-size: 20px;
  cursor: pointer;
}

.check {
  margin-right: 5px;
  cursor: pointer;
}

.check[disabled] + label{
  color: grey;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}